li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrap {
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #e47dd3;
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.navbar li {
    height: auto;
    width: 300px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #e47dd3;
}

.navbar a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
}

.navbar li:hover,
a:hover {
    background-color: #e47dd3;
}

.navbar li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    background-color: #e47dd3;
}

.navbar li ul li a {
    border-left: 1px solid #e47dd3;
    border-right: 1px solid #e47dd3;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #e47dd3;
}

.navbar li ul li a:hover {
    background-color: #dbb0b0;
}